[Unit]
Description=Run keyboard backlight adjustment script every 10 seconds

[Timer]
OnUnitActiveSec=10s
Unit=keyboard_backlight.service

[Install]
WantedBy=timers.target
