[Unit]
Description=Run keyboard backlight adjustment script every 1 second

[Timer]
OnUnitActiveSec=1s
Unit=keyboard_backlight.service

[Install]
WantedBy=timers.target
